# Virtual environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
.Python

# Jupyter
.ipynb_checkpoints/

# Data (too large for Git)
data/raw/
data/processed/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml